<!doctype html>
<html>
	<head>
		<title>Image Caption</title>
		<meta charset="utf-8">
		<meta name="description" content="csci5622 Project Image Captioning">
		<meta name="author" content="ANGELOSTUDIO.NET">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/icomoon/style.css">
		<link rel="stylesheet" href="../static/css/purple.css" class="colors">
		<link rel="shortcut icon" href="../static/img/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="../static/img/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/ico/72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../static/img/ico/120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../static/img/ico/152.png" type="image/png"/>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="home">
		
		<div id="header">
		<div class="header-content">
			<div class="countdown" id="countdown">
				<div class="container">
					  <div class="row">
						<div class="countdown-item col-sm-3 col-xs-3">
							<div class="countdown-number" id="countdown-days">30K!</div>
							<div class="countdown-label">Training Images</div>
						</div>

						<div class="countdown-item col-sm-3 col-xs-3">
							<div class="countdown-number" id="countdown-hours">16</div>
							<div class="countdown-label">Layers CNN</div>
						</div>

						<div class="countdown-item col-sm-3 col-xs-3">
							<div class="countdown-number" id="countdown-minutes">256</div>
							<div class="countdown-label">Units LSTM</div>
						</div>

						<div class="countdown-item col-sm-3 col-xs-3">
							<div class="countdown-number" id="countdown-seconds">99%</div>
							<div class="countdown-label">Accuracy</div>
						</div>
					</div>
				<div class="row">
					<form id="upload-form" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data" class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 myform" novalidate>
						<div class="input-group">
							<input type="file" name="file" placeholder="submit your image" class="form-control input-lg requiredField" accept="image/*" multiple>
    						<span class="input-group-btn">
								<button name="submit" type="submit" class="btn" >Predict!</button>
							</span>
						</div>
						<input type="hidden" name="submitted" id="submitted2" value="true">
					</form>
				</div>	
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div>
						<ul class="social-links text-center">
							<li><a href="https://github.com/ZhenguoChen/csci5622Project"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<footer>
				<p class="text-center copyright">&copy; Image Captioning!<a href="https://github.com/ZhenguoChen/csci5622Project" target="_blank">Github Repo</a>.<br>
				</p>
			</footer>
		</div>
		</div>
			
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/ga.js"></script>
	</body>
</html>